.note_container {
  margin: 10px auto;
  padding: 5px 10px;
  background: var(--white);
  border: solid 1px white;

  > .img_container {
    max-width: 400px;
    // border: solid 1px red;
    > img {
      width: 100% !important;
      height: auto;
      aspect-ratio: 16px;
      border: solid 1px white;
      border-radius: 10px;
      // border: solid 1px rgb(232, 7, 7);
      // box-shadow: 2px 2px 10px 20px gray;
      border-radius: 10px;
    }
  }

  > p {
    background: inherit;
    font-weight: 500;
  }
  > h3 {
    font-size: 24px;
  }
  .option_container {
    display: flex;
    flex-wrap: nowrap;
    .time_container {
      align-items: center;
      justify-content: flex-start;
      font-size: 13px;
      color: gray;
      width: 150px;
    }
    .options {
      background: inherit;
      width: -webkit-fill-available;
      align-items: center;
      justify-content: flex-end;
      .button {
        border: none;
        // font-size: 20px;
        margin: 0px 10px;
      }
      .delete_button {
        color: rgb(238, 93, 30);
        background: inherit;
      }
      .edit_button {
        color: rgb(20, 167, 20);
        background: inherit;
      }
    }
  }
}
