.note_container{
    margin: 10px auto;
    padding: 5px 10px;
    background: var(--white);
    border: solid 1px white;
   
    >p{
    background: inherit;
    
    }
    .options{
        background: inherit;
        .button{
            border: none;
            // font-size: 20px;
            margin: 0px 10px;
        }
        .delete_button{
            color: rgb(238, 93, 30);
        }
        .edit_button{
            color: rgb(20, 167, 20);
        }
    }
    
}