.View_container{
    
    // margin: 30px auto;
    font-size: 20px;
    // border: solid 1px black;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background: var(--other);

   .data_container{
    min-height: 70vh;
    width: 700px;
    padding: 5px 5px;

   .navbar{
    display: flex;
     flex-wrap: nowrap;
     margin: 10px 1px;
     border: solid 1px white;
     border-radius: 10px;
     padding: 10px 10px;
     background: var(--white);
     .left_container{
        width:250px; 
        justify-content: flex-start;
       
       
        >h3{
            display: inline-block;
            align-self: center;
            width: 80%;
            background: linear-gradient(45deg, rgb(103, 13, 103), rgb(59, 110, 168));
            stroke: 1px solid black;
            color: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
             /* background-size: 100% 100%; */
            font-size:17px;
            font-weight: bolder;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        }
    }
    .right_container{
        width: -webkit-fill-available;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        color: rgba(0, 0, 139);
        >.link{

         img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
         }
        }
    }
   }


    .primary_option 
    {
        display: flex;
        flex-wrap: nowrap;
        // flex-direction:column;
        .left_button{
            width: 200px; 
            justify-content: flex-start;
        }
        .right_button{
            width: -webkit-fill-available;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }


    }
    .note_container{

        .options{
             display: flex;
             flex-wrap: nowrap;
             justify-content: flex-end;
             gap: 10px;
        }
    }
}



.user_countainer{
    width: 700px;

    background: var(--white);
    min-height: 30vh;
    margin: 0 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .user{
        background:var(--theme_color);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: 40px;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        >p{
            background: transparent;
            color: black;
        }
    }
}
}

@media only screen and (max-width:710px) {
    
 .View_container{
    margin: 0px 0px;
    .data_container{
        padding: 10px 15px;
        width: 100%;
    }
    .user_countainer{
        width:100%;
        min-height: 300px;
    }
 }

}