*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background:linear-gradient( 90deg, rgba(243, 140, 50, 0.249) , rgba(225, 225, 72, 0.358)); */
    
}

:root{
    --other:linear-gradient( 90deg, rgba(243, 140, 50, 0.249) , rgba(225, 225, 72, 0.358));
    --theme_color:linear-gradient(  rgba(160, 209, 229, 0.482) , rgba(128, 216, 251, 0.779));
    --white:whitesmoke;
}

.main_div{
     background: var(--other);
    /* height:100vh; */
    border-radius: 10px;
    margin: 0px auto;
/* 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction:column; */
    
}
 form {
    max-width: 700px;
    margin: auto auto;
    /* border: solid black 1px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction:column;
 }

.primary_button{
    border: solid 1px rgb(58, 102, 245);
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    background: transparent;
    font-size: 20px;
    transition: all ease 0.5s;
}
.primary_button:hover{
    background: rgb(58, 102, 245);
    color: var(--white);
}

input , .primary_inputbox{
    max-width: 500px;
    padding:10px 10px;
    border-radius: 10px;
    font-family: serif;
    font-size: 18px;
    border: solid 1px black;
}
.icon{
    background: inherit;
}
p{
    background: inherit;
}